{% extends 'base.html.twig' %}

{% block title %}Configuration{% endblock %}

{% block body %}
  <h1 class="text-3xl font-semibold text-gray-900 mb-6 text-center">Configuration</h1>

  <div class="flex justify-center mb-8">
    <div class="relative w-full max-w-xl">
      <input type="text" placeholder="Recherche param" class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:outline-none">
    </div>
  </div>

  <ul class="space-y-4">
    <li class="bg-white shadow rounded-lg p-4 ">
      <h2 class="text-lg font-semibold text-gray-800">Config</h2>
      <p class="text-sm text-gray-500">Askip il config des trucs ce role</p>
    </li>
    <li class="bg-white shadow rounded-lg p-4 ">
      <h2 class="text-lg font-semibold text-gray-800">Configurer des configuration</h2>
      <p class="text-sm text-gray-500">Donc je sais pas non plus quoi mettre mdr</p>
    </li>
    <li class="bg-white shadow rounded-lg p-4 ">
      <h2 class="text-lg font-semibold text-gray-800">Configuration 1</h2>
      <p class="text-sm text-gray-500">Option 561</p>
    </li>
    <li class="bg-white shadow rounded-lg p-4 ">
      <h2 class="text-lg font-semibold text-gray-800">Config n2</h2>
      <p class="text-sm text-gray-500">Option suspecte 2</p>
    </li>
    <li class="bg-white shadow rounded-lg p-4 ">
      <h2 class="text-lg font-semibold text-gray-800">Config n3</h2>
      <p class="text-sm text-gray-500">Option dérangeante 3</p>
    </li>
    <li class="bg-white shadow rounded-lg p-4 ">
      <h2 class="text-lg font-semibold text-gray-800">Config 4</h2>
      <p class="text-sm text-gray-500">Fête partie</p>
    </li>
  </ul>
{% endblock %}